@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: #071e3d;
    /* color:#74f9ff; */
    color:#ffffffcc;
}
.wcontainer{
    position: relative;
}
.nav{
    display:none;
    position: absolute;
}
.navbar{
    display:block;
    position: absolute;
}

.active{
    /* text-decoration: underline; */
    color:red;
    border-left: 5px solid red;
}
.hide{
    display: none;
}
.adminLinks:hover{
    color:white;
}
